<div class="container" >
    <div class="content">
        <!-- TOOD: MODULE_ADVENTURE_DETAILS -->
        <!-- 1. Write the child elements as required. -->
        <!-- 2. Remember to use .adventure-card and its related classes. -->
        <div class="row">
           <div class="col-12 col-md-8 col-lg-8">
              <div class="adventure-detail-card">
                <div class="detail">
                    <div class="row">
                        <div class="col-12  col-md-8 col-lg-8">
                          <img src="/assets/img/resort/1.jpg" alt="Resort 1" class="rounded ing-fluid adventure-card-image">
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 d-none d-md-block">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/assets/img/resort/2.jpg" alt="Resort 2" class="img-fluid rounded adventure-card-image">
                                <img src="/assets/img/resort/3.jpg" alt="Resort 3" class="img-fluid rounded adventure-card-image">
                            </div>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-12">
                             <div class="experience-content">
                                 <h1>Sunshine Resort</h1>
                                 <h5 class="text-muted">Relax and unwind yourself</h5>
                                 <hr class="bg-secondary">
                                 <h4>About The Experience</h4>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 <h5>Inclusion</h5>
                                 <ul>
                                     <li>
                                         <p>Swimmimg Pool Access</p>
                                     </li>
                                     <li>
                                         <p>Outdoor Sports</p>
                                     </li>
                                     <li>
                                         <p>Indoor Games</p>
                                     </li>
                                     <li>
                                         <p>Parking</p>
                                     </li>
                                     <li>
                                         <p>Wifi Facilities</p>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                </div>
              </div>
           </div>
           <div class="col-12 col-md-4 col-lg-4" >
            <div class="adventure-detail-card">
                <div class="detail">
                    <h3>Sold Out!</h3>
                    <hr class="bg-secondary">
                    <p>This adventure is currently sold out. but there's a lot more to <a class="text-warning" routerLink="/adventures">explore.</a></p>
                </div>
               
            </div>

           </div>
        </div>

    </div>
 </div>