<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">QTrip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" role="button">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarMenu">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a routerLink="/" class="nav-link">Home</a>
       </li>
       <li class="nav-item">
         <a routerLink="/adventures" class="nav-link">Explore</a>
       </li>
     </ul>
   </div>
  </nav> 
