<div class="container">
    <!-- TODO: MODULE_LAYOUT -->
    <!-- 1. Create the grid like layout as required. -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4" >
          <img src="/assets/img/banglore.jpg" alt="bengaluru" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Bengaluru</h4>
              <p>100+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light " routerLink="/adventures">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/dubai.jpg" alt="dubai" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
               <h4>Dubai</h4>
              <p>74+ Places</p></div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/goa.jpg" alt="goa" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Goa</h4>
              <p>160+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/kolkata.jpg" alt="kolkata" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text"> 
              <h4>Kolkata</h4>
              <p>52+ Places</p></div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/malaysia.jpg" alt="malaysia" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Malaysia</h4>
              <p>170+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/mumbai.jpg" alt="mumbai" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Mumbai</h4>
              <p>121+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/paris.jpg" alt="paris" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Paris</h4>
              <p>150+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card tile my-4">
          <img src="/assets/img/singapore.jpg" alt="singapore" class="card-img-top rounded">
          <div class="card-img-overlay">
            <div class="tile-text">
              <h4>Singapore</h4>
              <p>89+ Places</p>
            </div>
          </div>
          <div class="place-overlay ">
            <a class="btn btn-danger btn-block text-light btn-block">Explore</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
