<div class="container">
    <div class="content">
      <!-- TODO: MODULE_ADVENTURES_GRID -->
      <!-- 1. Create the grid of adventures by adding child elements as required. -->
      <div class="row">
        <div class="col-6  col-lg-3 mt-3">
            <div class="card adventure-card shadow-lg">
              <a routerLink="/resort">
              <img src="/assets/img/adventure/resort.jpg" alt="Resort" class="card-img-top">
            </a>
              <div class="card-footer d-flex justify-content-between">
                <small class="text-muted font-weight-bold">Resort</small>
                <small class="text-muted font-weight-bold">&#8377;1200</small>
              </div>
            </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/beach.jpg" alt="Beach Gateway" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Beach Gateway</small>
              <small class="text-muted font-weight-bold">&#8377;2200</small>
            </div>
          </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/tower.jpg" alt="Tower" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Tower</small>
              <small class="text-muted font-weight-bold">&#8377;1800</small>
            </div>
          </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/university.jpg" alt="University" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">University</small>
              <small class="text-muted font-weight-bold">&#8377;800</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/church.jpg" alt="Monument" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Monument</small>
              <small class="text-muted font-weight-bold">&#8377;1200</small>
            </div>
          </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/market.jpg" alt="Market" class="card-img-top">
            </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Market</small>
              <small class="text-muted font-weight-bold">&#8377;600</small>
            </div>
          </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/canopy.jpg" alt="Canopy" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Canopy</small>
              <small class="text-muted font-weight-bold">&#8377;1800</small>
            </div>
          </div>
        </div>
        <div class="col-6  col-lg-3 mt-3">
          <div class="card adventure-card shadow-lg">
            <a href="#">
            <img src="/assets/img/adventure/huts.jpg" alt="Huts" class="card-img-top">
          </a>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted font-weight-bold">Huts</small>
              <small class="text-muted font-weight-bold">&#8377;2000</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>